<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="email.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <email.My.MySettings>
            <setting name="userEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="userSmtp" serializeAs="String">
                <value />
            </setting>
            <setting name="userMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="closingAppliaction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="activatingTextButton" serializeAs="String">
                <value>False</value>
            </setting>
        </email.My.MySettings>
    </userSettings>
</configuration>